#cont {
    justify-content: center;
    place-items: center center;
    font-weight: 900;
    max-width: 100vw;
    min-height: 91.4vh;
    background-color: #F5F7FD;
}

#card {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    border-radius: 1.5rem;
}

@media (max-width: 575.98px) {
    #hh {
        text-align: center;
    }
}

#link {
    text-decoration: none;
    color: #A1A3B0
}

#title {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

#col {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

#link {
    text-decoration: none;
    color: black;
}