#cont {
    background-color: #006AD4;
    width: 100vw;
    /* height: 25vh; */
    align-content: center;
}

#btn {
    font-weight: bolder;
    color: #ffffff;
}

#btn:hover {
    font-weight: bolder;
    color: #ffffff;
    background-color: #2a8aeb;
}

#btn:active {
    font-weight: bolder;
    color: #ffffff;
    background-color: #2a8aeb;
}

#btn:focus {
    font-weight: bolder;
    color: #ffffff;
    background-color: #2a8aeb;
}

#buttun2 {
    border-radius: 1rem;
    height: 3rem;
    background-color: #459ef7;
    border: none;
    width: 100%;
    text-align: left;
    color: #ffffff;
}

#buttun2:hover {
    background-color: #328ce6;
}

#offc {
    background-color: #459ef7;
    box-shadow: 0px 0px 0px 1px #ffffff;
    border-radius: 0 1rem 1rem 0;
    transition: .6s;
}

@media (max-width: 575.98px) {
    #offc {
        width: 55%;
    }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width:991.98px) and (max-width: 1199.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width: 1199.98px) {
    #offc {
        width: 20%;
    }
}