#cont {
    background-color: #F5F7FD;
    width: 100vw;
}

#btn {
    font-weight: bolder;
    color: #ffffff;
    background: #88ABF4;
    border-radius: 10px;
    width: 96px;
    height: 40px;
}

#buttun2 {
    border-radius: 1rem;
    height: 3rem;
    color: #8ca6f3;
    /* background: #F5F7FD; */
    border: none;
    width: 100%;
    text-align: left;
}

#buttun2:hover {
    background-color: #88ABF4;
}

#offc {
    background-color: #F5F7FD;
    box-shadow: 0px 0px 0px 1px #ffffff;
    border-radius: 0 1rem 1rem 0;
    transition: .6s;
}

@media (max-width: 575.98px) {
    #offc {
        width: 55%;
    }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width:991.98px) and (max-width: 1199.98px) {
    #offc {
        width: 30%;
    }
}

@media (min-width: 1199.98px) {
    #offc {
        width: 20%;
    }
}