#cont {
    justify-content: center;
    place-items: center center;
    font-weight: 900;
    max-width: 100vw;
    min-height: 91.4vh;
    background-color: #F5F7FD;
}

#photo {
    border-radius: 50%;
}

#cont2 {
    justify-content: center;
    place-items: center center;
    font-weight: 900;
    max-width: 100vw;
    min-height: 89.5vh;
    margin-top: 3rem;
}

#search {
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #d3d2d2;
    background-color: #ffffff;
    border-radius: 6px;
}

#colm2 {
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #d3d2d2;
    background-color: #ffffff;
    border-radius: 10px;
}

#colm2:hover {
    background-color: #eef0f7;
}

#coll {
    justify-content: center;
    place-items: center center;
}