.articleCard__container{
    margin-top: 3rem;
    display: flex;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1rem;
    gap: 1rem;
    align-items: center;    
}
.articleContainer__left{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.articleContainer__right{
    max-width: 70%;
}