.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel .carousel-control-next-icon.changed {
    background-image: url("./assets/arrow-right-solid.svg");
}

.carousel .carousel-control-prev-icon.changed {
    background-image: url("./assets/left.png");
}